<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="top-header">
        <header>
            <div class="class">
                <div class="logo">
                    <h1>silika</h1>
                    <button>We're Hiring</button>
                </div>
                <!-- fim da logo -->
                 <nav>
                    <ul>
                        <li><a href="#">user cases</a></li>
                        <li><a href="#">resources</a></li>
                        <li><a href="#">weekly demos</a></li>
                        <li><a href="#">pricing</a></li>
                    </ul>
                 </nav>
                 <!-- fim:menu -->
                  <div class="login">
                    <a href="#">login</a>
                    <button class="green">Get Started</button>
                  </div>
            </div>
        </header>

        <div class="cta">
            <div class="container">
                <h2>Silika Helps <br> 
                    Marketing Agencies!</h2>

                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis molestiae mollitia doloremque obcaecati sapiente quam ut ducimus cupiditate rem assumenda nostrum delectus illo pariatur voluptatum, quae magnam enim aliquid natus.</p>

                    <div class="bts-cta">
                        <a href="#" class="green">Get Started</a>
                        <a href="#" class="red">How It Works</a>
                    </div>
            </div>
        </div>
    </section>
    
    <!-- fim:section top-header -->

    <section class="brands">
        <div class="container">
            <img src="images/Adobe.png" alt="adobe">
            <img src="images/Mosaic.png" alt="Mosaic">
            <img src="images/CoLab.png" alt="colab">
            <img src="images/Holtzman Partners.png" alt="Holtzman">
        </div>
    </section>
    <!-- fim;brands -->

    <section class="about-us">
        <h3>About Us</h3>
        <div class="container">
            <div class="about-us-description">
                <h4>professional & team choose copy.ai</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur optio aspernatur, nihil nobis aliquid explicabo molestiae voluptate, vel expedita saepe possimus nostrum suscipit fugiat aperiam magni quidem quod consectetur ad.</p>

                <a href="#" class="green">Get Started</a>

                <div class="about-us-video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Em0R3csNMVE?si=7d9sRoBcCy63_UNr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- about us -->

    <section class="our-features">
        <h3>Our Features</h3>
        <div class="container">
            <div class="card">
                <div class="icon-card">
                    <img src="images/icones/iconoir_add-folder.svg">
                </div>

                <div class="description-card">
                    <h4>blog content</h4>

                    <p>Write optimized blog posts in
                        a fraction of the time</p>

                        <a href="#">Try Blog content</a>

                </div>
            </div>
            <!-- fim do card -->
             

        <div class="container">
            <div class="card">
                <div class="icon-card">
                    <img src="images/icones/iconoir_airplane-helix.svg">
                </div>

                <div class="description-card">
                    <h4>Article</h4>

                    <p>Write optimized blog posts in
                        a fraction of the time</p>

                        <a href="#">Try Blog content</a>

                </div>
            </div>

            
            <!-- fim do card -->

        <div class="container">
            <div class="card">
                <div class="icon-card">
                    <img src="images/icones/iconoir_add-database-script.svg">
                </div>

                <div class="description-card">
                    <h4>Content Writing</h4>

                    <p>Write optimized blog posts in
                        a fraction of the time</p>

                        <a href="#">Try Blog content</a>

                </div>
            </div>
            <!-- fim do card -->

        <div class="container">
            <div class="card">
                <div class="icon-card">
                    <img src="images/icones/iconoir_align-center.svg">
                </div>

                <div class="description-card">
                    <h4>Seo</h4>

                    <p>Write optimized blog posts in
                        a fraction of the time</p>

                        <a href="#">Try Blog content</a>

                </div>
            </div>
            <!-- fim do card -->

        <div class="container">
            <div class="card">
                <div class="icon-card">
                    <img src="images/icones/iconoir_design-nib.svg">
                </div>

                <div class="description-card">
                    <h4>Seo</h4>

                    <p>Write optimized blog posts in
                        a fraction of the time</p>

                        <a href="#">Try Blog content</a>

                </div>
            </div>
            <!-- fim do card -->
             
        <div class="container">
            <div class="card">
                <div class="icon-card">
                    <img src="images/icones/iconoir_rocket.svg">
                </div>

                <div class="description-card">
                    <h4>Coding</h4>

                    <p>Write optimized blog posts in
                        a fraction of the time</p>

                        <a href="#">Try Blog content</a>

                </div>
            </div>
            <!-- fim do card -->
             
        </div>
    </section>

    <section class="testimonials">
        <h3>Let’s See What Our Clients Says</h3>
        <div class="container">

            <div class="testmonials-card">
                <div class="perfil">
                    <div class="perfil">
                        <div class="photo-perfil">
                            <img src="images/Ellipse 9.png" alt="">
                        </div>

                        <div class="perfil-name">
                            <h4>broklyn simmons</h4>
                            <p class="cargo">Nursing assistant</p>
                        </div>
                    </div> <!--fim:perfil-->

                    <div class="comments">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat placeat nihil vel ea quas, vitae dolores, voluptas rerum quos quibusdam tenetur praesentium delectus dolorem esse assumenda. Asperiores nam in voluptas.</p>
                    </div>
                </div>
            </div>
            
            <div class="testmonials-card">
                <div class="perfil">
                    <div class="perfil">
                        <div class="photo-perfil">
                            <img src="images/Ellipse 9.png" alt="">
                        </div>

                        <div class="perfil-name">
                            <h4>broklyn simmons</h4>
                            <p class="cargo">Nursing assistant</p>
                        </div>
                    </div> <!--fim:perfil-->

                    <div class="comments">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat placeat nihil vel ea quas, vitae dolores, voluptas rerum quos quibusdam tenetur praesentium delectus dolorem esse assumenda. Asperiores nam in voluptas.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="work">
        <h3>How it Works</h3>
        <div class="container">
            <div class="work-img">
                <img src="images/lampada.jpg" alt="">
            </div>
            <div class="description-work">
                <h4><span>1</span><span>Enter your copywrite project</span></h4>

                <div class="content-description-work">
                    <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias rerum soluta veniam pariatur voluptatibus sed deleniti assumenda accusamus dolorem, voluptas illo amet ad corrupti voluptatum quam sapiente aliquid. Deleniti, dicta.</p>

                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum corrupti expedita eaque. Dolor magni,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum corrupti expedita eaque. Dolor magni,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum corrupti expedita eaque. Dolor magni, ?</li>
                    </ul>
                </div>
            </div>


            <div class="work-img">
                <img src="images/notebook.jpg" alt="">
            </div>
            <div class="description-work">
                <h4><span>2</span><span>Genarate Idea</span></h4>

                <div class="content-description-work">
                    <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias rerum soluta veniam pariatur voluptatibus sed deleniti assumenda accusamus dolorem, voluptas illo amet ad corrupti voluptatum quam sapiente aliquid. Deleniti, dicta.</p>

                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum corrupti expedita eaque. Dolor magni,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum corrupti expedita eaque. Dolor magni,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum corrupti expedita eaque. Dolor magni, ?</li>
                    </ul>
                </div>
            </div>

            <div class="work-img">
                <img src="images/lampada.jpg" alt="">
            </div>
            <div class="description-work">
                <h4><span>3</span><span>Copy & Use</span></h4>

                <div class="content-description-work">
                    <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias rerum soluta veniam pariatur voluptatibus sed deleniti assumenda accusamus dolorem, voluptas illo amet ad corrupti voluptatum quam sapiente aliquid. Deleniti, dicta.</p>

                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum corrupti expedita eaque. Dolor magni,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum corrupti expedita eaque. Dolor magni,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum corrupti expedita eaque. Dolor magni, ?</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </section>

    <section class="ready">
        <h3>Ready to level-up</h3>
        <div class="container">
            <p>Id ipsum amet nibh dolor mi ac diam pellentesque.</p>
            <a href="#" class="green">Get Started - It’s Free</a>

            <form> 
                <fieldset>
                    <div class="option">
                        <input type="radio" name="plans" value="no-credit">
                        <span>No Credit Card Required</span>
                        <input type="radio" name="plans" value="30-credits">
                        <span>30 credits on sign up</span>
                        <input type="radio" name="plans" value="90-contents">
                        <span>90+ contents type to explore</span>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-group-links">
                <h5>Product</h5>
                <ul>
                    <li><a href="#">login</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Copy ai Reviews</a></li>
                    <li><a href="#">Alternatives</a></li>
                    <li><a href="#">25+ Languages</a></li>
                    <li><a href="#">Free Ai Tools</a></li>
                </ul>
            </div>
            <div class="footer-group-links">
                <h5>Company</h5>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Linkedin</a></li>
                    <li><a href="#">Affiliate Program</a></li>
                </ul>
            </div>
            <div class="footer-group-links">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">Weekly Deos</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Report a Bug</a></li>
                    <li><a href="#">Report an Outage</a></li>
                    <li><a href="#">Request a New Feature</a></li>
                </ul>
            </div>

            <div class="footer-group-links">
                <h5>User Cases</h5>
                <ul>
                    <li><a href="#">For Blog Writers</a></li>
                    <li><a href="#">For Social Media</a></li>
                    <li><a href="#">Managers</a></li>
                    <li><a href="#">Report</a></li>
                </ul>
            </div>
            <div class="politics">
                <p class="logo">Silika.ai</p>
                <p class="copyright">© 2025 copy ai, Inc </p>
                <p class="copyright">Privacy Notice</p>
                <p class="copyright">Terms of service</p>
            </div>

            <div class="logos">
                <a href="#"><img src="images/icones/akar-icons_facebook-fill.svg" alt="feice"></a>
                <a href="#"><img src="images/icones/akar-icons_instagram-fill.svg" alt=""></a>
                <a href="#"><img src="images/icones/akar-icons_twitter-fill.svg" alt=""></a>
            </div>
        </div>
    </footer>
</body>
</html>