*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* variaveis */
:root{
    --primary-color:#47BEBA;
    --secondary-color: #F22E52;
    --text-color-button: #fff;
    --padding-button:  1rem 2rem;
}

.primary-color{
    background: var(--primary-color);
    color: var(--text-color-button);
    padding: var(--padding-button);
    display: inline-block;
    border-radius: 5px;
}

.secondary-color{
    background: var(--secondary-color);
    color: var(--text-color-button);
    padding: var(--padding-button);
    display: inline-block;
    border-radius: 5px;
}

.container{
    width: 1172px;
    margin: auto;
}

h3{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin: 100px 0 100px 0;
}

h1{
    font-family: "Biryani", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #160647;
}

a{
    text-decoration: none;
    color: #160647;
}

/* top header */
.top-header{
    background: url(../images/backgroud.jpg) no-repeat;
    background-size: cover;
    padding-top: 40px;
}

.top-header header .container{
    display: flex;
    justify-content: space-between;
}

.top-header .logo{
    display: flex;
    align-items: center;
}

.top-header .logo h1{
    margin-right: 6px;

}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 16px;
}

.login .primary-color{
    margin-left: 16px;
}

/* cta */

.cta{
    padding: 208px;
}

.cta .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta h2{
    font-size: 64px;
    font-weight: bold;
    color: #160647;
    text-align: center;
}

.cta p{
    margin: 30px 0 40px;
    width: 697px;
    color: #6C6C6C;
    text-align: center;
}

.cta a{
    margin: 0 10px;
}

.cta a:hover{
    box-shadow: 0 0 10px #aaa;

}

/* section top-header */

.brands .container{
    display: flex;
    justify-content: space-between;
}

.brands .container img{
    margin: 121px 58px 155px 0px;
}

/* About-us */

.about-us .container{
    display: flex;
    justify-content: center;
   
}
.about-us  .about-us-description h4{
    color: #322853;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 161px;
}
.about-us .about-us-description p{
    color: #818181;
    font-size: 16px;
    margin: 23px 116px 27px 0px;
}

.about-us .about-us-video{
    margin: 100px 0 100px 0;
}

/* Our Features */

.our-features h3{
    margin: 172px 0 148px;
    color: #160647;
    font-size: 48px;
}

.our-features .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.our-features .container .card{
    width: 300px;
    margin: 42px 32px;
    border: #f1f1f1 solid 1px;
    border-radius: 5px;
    margin-bottom: 30px;
    display: flex;
}
.our-features .container .card .icon-card{
    margin-right: 36px;
}

.our-features h4{
    font-size: 20px;
    color: #160647;
}

.our-features p{
    color: #7A8994;
    margin: 35px 0 21px;
    font-size: 14px;
}

.our-features a{
    color: var(--primary-color);
    font-weight: 600;
}

.our-features a:hover{
    text-decoration: underline;
    color: #322853;
}

/* testimonials */

.testimonials .container{
    display: flex;
    margin: auto;
    width: 821px;
    justify-content: space-between;
}

.testimonials h3{
    width: 498px;
    text-align: center;
    margin: 100px auto;
}

.testimonials .testimonial-card{
    width: 339px;
    padding: 50px 30px;
    border: 1px solid #f1f1f1;
    border-radius: 5px
}

.testimonial-card .perfil{
    display: flex;
    margin-bottom: 24px;
}

.testimonial-card .perfil .photo-perfil{
    margin-right: 16px;
}

.testimonial-card h4{
    font-size: 20px;
    color: #160647;
}

.testimonial-card p{
    color: #7A8994;
}

/* Works */

.works .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.works .image-work{
    margin-right: 48px;
}

.works .description-work h4{
    font-size: 20px;
    color: #160647;
    margin-bottom: 18px;
}

.works .description-work h4 span{
    border: 1px solid #160647;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 29px;
}

.works .content-description-work{
    border-left: 1px dotted #B4B4B4;
    margin-left: 15px;
    padding-right: 42px;
    height: 300px;
}

.works .title{
    color: #160647;
    font-size: 16px;
    margin-bottom: 43px;
    padding-left: 42px;
}

.works ul{
    list-style: none;
    padding-left: 42px;

}

.works li{
    list-style: none;
    color: #160647;
    margin: 17px 0 17px 35px;
}

/* Ready*/

.ready fieldset{
    display: flex;
    justify-content: space-between;
    border: none;
}

