

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.container{
    width: 1328px;
    margin: auto;
}

/* header */

h1{
    text-align: center;
    background: #818084;   
    ;
}

header{
    padding: 20px;
}

/* nav */

nav{
    background: rgb(182, 180, 180);
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li a {
    color: #000;
    font-weight: 600;
    font-size: 25px ;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    border-radius: 20px 0;
    background-color: #fff;
    padding: 0 10px ;

}

nav ul li a:hover{
    background: #000;
    color: #fff;
    border-radius: 0 20px;
}

/* Banner */

#banner img {
    width: 100%;
}

/* posts */

.posts h2{
    text-align: center;
    margin: 91px 0 62px;
    font-size: 64px;
    font-family: "Open Sans", sans-serif;
}

.posts .container{
    display: flex;
    justify-content: space-between;
}

.posts img{
    border-radius: 20px 20px 0 0; 
    margin: 16px 16px 0;
}

.posts h3{
    font-size: 20px;
    margin: 16px 16px 0;
}

.posts h4{
    margin-left: 16px;
    font-weight: normal;
    font-size: 18px;
}

.posts p{
    margin: 32px 16px;
}

.posts a{
    background: #65558f;
    color: #fff;
    padding: 10px 24px;
    font-size: 20px;
    border-radius: 6000px;
}

/* footer */ 

.footer-bottom{
    background-color: #d9d9d9;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
}